.Card_container1{
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    gap: 20px;

}
.card{

    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    text-align: left;
  gap: 10px;
    flex-wrap: wrap;
    background-color: #E5E4E5;

}
.cards{
    width: 250px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: white;
    gap: 30px;
    border-radius: 10px;

}
.cards img{
    width: 90%;
    height: 50%;
    display: flex;
}